@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/gotham-bold/Gotham-Bold.woff') format('woff'),
       url('../fonts/gotham-bold/Gotham-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/gotham-book/Gotham-Book.woff') format('woff'),
       url('../fonts/gotham-book/Gotham-Book.ttf') format('ttf');
}
